 body {
  background-color: powderblue;

  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */ 
.homePage{
  /* background-color: powderblue; */
  text-align: center;
  padding: 200px;
  margin: 0;
  font-size: 25px;
  border: 0ch;
  
}
.sign{
  margin: 10px 2px 10px 2px;
  padding: 10px 50px 10px 50px;
  border-radius: 2px solid;
  
  }